---
import ProjectItem from "../components/project_item.astro";

const flyBondyTechnologies = [
    "Spring Boot",
    "Thymeleaf",
    "Spring Security",
    "Spring JPA",
    "Bootstrap",
];

const monopolyTechnologies = [
    "Spring",
    "Thymeleaf",
    "Spring JPA",
    "Javascript",
    "WebSocket",
];

const quizquestTechnologies = [
    "PHP",
    "Mustache",
    "MySQL",
    "JavaScript",
];

const rippleTechnologies = [
    ".NET",
    "Azure SQL Server",
    "Azure Functions",
    "Azure Blob Storage",
    "JavaScript"
];

const knowMeTechnologies = [
    "JavaScript",
    "CSS",
    "HTML"
];

const fakefyTechnologies = [
    "JavaScript",
    "CSS",
    "HTML"
];

const pokedexTechnologies = [
    "PHP",
    "MySQL"
];

const arttechTechnologies = [
    "Java",
    "JSP",
    "MySQL",
    "JavaScript"
];

const todoAppTechnologies = [
    "NodeJS",
    "Angular",
    "JavaScript",
    "TypeScript"
];

---

<div class="max-w-[900px] mx-auto py-20 section">
    <h1
        class="w-[80%] max-w-[900px] mx-auto text-4xl mb-6 text-center lg:text-5xl text-shadow text-blue-custom [text-shadow:_0_0px_10px_rgb(93_247_255/_100%)] font-bold"
    >
        &lt;Proyectos/&gt;
    </h1>
    <div
        class="flex flex-col gap-8 md:gap-2 items-center md:flex-row md:flex-wrap w-[90%] mx-auto justify-center"
    >
    <!-- ROW PROJECTS 1 -->
        <div class="flex flex-col md:flex-row gap-4">
            <!-- Project 1 -->
            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-flybondi h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">FlyBondi</h3>
                <p class="text-white
    text-2xl">
                    Proyecto de Sistema de Gestión de Agencia de Viajes,  donde colabore para la realizacion del mismo
                </p>
                <ProjectItem array={flyBondyTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    
                    <!-- 
                    <a href="#" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>-->
                </div>
            </div>

            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-monopoly h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">Monopoly</h3>
                <p class="text-white
text-2xl">
                    Proyecto basado en el juego clasico del Monopoly basado principalmente 
                    en Spring Framework.
                </p>
                <ProjectItem array={monopolyTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    <a href="https://github.com/AlanAruFlores/monopoly_tallerweb" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>
                </div>
            </div>

            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-quizquest h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">Quizquest</h3>
                <p class="text-white
text-2xl">
                Desarrollo de una plataforma interactiva de preguntas y respuestas donde los jugadores compiten por puntos.
                </p>
                <ProjectItem array={quizquestTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    <a href="https://github.com/AlanAruFlores/quizquest" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>
                </div>
            </div>

            
        </div>


        <!-- ROW PROJECTS 2 -->
        <div class="flex flex-col md:flex-row gap-4 mt-7">
            <!-- Project 1 -->
            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-ripple h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">Ripple</h3>
                <p class="text-white
    text-2xl">
                    Desarrollo de una aplicacion de musica en la nube, con el fin de poder cargar musicas,
                    escuchar musicas.
                </p>
                <ProjectItem array={rippleTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    <a href="https://github.com/brendiaz03/TPFINAL-Azure-Cloud-Computing" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>
                </div>
            </div>

            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-knowme h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">KnowMe!</h3>
                <p class="text-white
    text-2xl">
                    Desarrollo de una aplicacion de reunion, donde se implementa funcionalidades como: presentar, activar camara y  activar microfono.
                </p>
                <ProjectItem array={knowMeTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    <a href="https://github.com/AlanAruFlores/KnowMe" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>
                </div>
            </div>

            <div
                class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
            >
                <div
                    class="bg-fakefy h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
                >
                </div>
                <h3 class="text-blue-custom text-3xl text-center">Fakefy</h3>
                <p class="text-white
    text-2xl">
                    Aplicacion de reproducción de música se centra en crear una plataforma o aplicación que permita a los usuarios reproducir archivos de música 
                </p>
                <ProjectItem array={fakefyTechnologies} />
                <div class="flex flex-row justify-center gap-2">
                    <a href="https://github.com/AlanAruFlores/Fakefy" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                        <img src="/img/github.svg" class="w-5" />
                        <p class="text-xl">GitHub</p>
                    </a>
                </div>
            </div>

            
        </div>



    <!-- ROW PROJECTS 3 -->
    <div class="flex flex-col md:flex-row gap-4 mt-7">
        <!-- Project 1 -->
        <div
            class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
        >
            <div
                class="bg-pokedex h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
            >
            </div>
            <h3 class="text-blue-custom text-3xl text-center">Pokedex</h3>
            <p class="text-white
    text-2xl">
    Desarrollo de una Pokédex tiene como objetivo consultar información detallada sobre los Pokémon, como su tipo, habilidades, evoluciones y movimientos. Con una interfaz sencilla y fácil de navegar.
            </p>
            <ProjectItem array={flyBondyTechnologies} />
            <div class="flex flex-row justify-center gap-2">
                <a href="https://github.com/AlanAruFlores/php-pokedex" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                    <img src="/img/github.svg" class="w-5" />
                    <p class="text-xl">GitHub</p>
                </a>
            </div>
        </div>

        <div
            class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
        >
            <div
                class="bg-arttech h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
            >
            </div>
            <h3 class="text-blue-custom text-3xl text-center">Arrtech</h3>
            <p class="text-white
    text-2xl">
            Plataforma para la venta de productos, utilizando tecnologías como Java Servlets y JSP (JavaServer Pages) para gestionar la lógica del servidor y la presentación dinámica en el lado del cliente.        
    </p>
            <ProjectItem array={arttechTechnologies} />
            <div class="flex flex-row justify-center gap-2">
                <a href="https://github.com/AlanAruFlores/Arttech-Eccomerce" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                    <img src="/img/github.svg" class="w-5" />
                    <p class="text-xl">GitHub</p>
                </a>
            </div>
        </div>

        <div
            class="bg-gray-950/50 opacity-70 hover:opacity-100 transition-all shadow-custom-black-blue-difumined-min max-w-[350px] p-2 space-y-4"
        >
            <div
                class="bg-todo h-[200px] md:[200px] lg:w-[270px] bg-cover bg-no-repeat bg-blend-darken"
            >
            </div>
            <h3 class="text-blue-custom text-3xl text-center">Todo App</h3>
            <p class="text-white
    text-2xl">
                Aplicacion TODO utilizando Node.js para el backend y Angular para el frontend, donde los usuarios puedan crear, editar,ver, marcar como completadas y eliminar tareas.
            </p>
            <ProjectItem array={todoAppTechnologies} />
            <div class="flex flex-row justify-center gap-2">
                <a href="https://github.com/AlanAruFlores/TallerWeb2-Todo" target="_blank" class="bg-white top-0 right-0 flex w-24 p-2">
                    <img src="/img/github.svg" class="w-5" />
                    <p class="text-xl">GitHub</p>
                </a>
            </div>
        </div>

        
    </div>




    </div>
    
</div>
<script src="../../public/js/swiper.js"></script>
