--- 
    import { ProgramUpdateLevel } from "typescript";
    import Carrousel from "../components/carrousel.astro";
    import LineCarrousel from "../components/line_carrousel.astro";
    const programmingLanguagesImages = [
    {
        url: "../../public/img/languages/html-5.svg",
        name: "HTML"
    },
    {
        url: "../../public/img/languages/css.svg",
        name: "CSS"
    },
    {
        url: "../../public/img/languages/javascript.svg",
        name: "JavaScript"
    },
    {
        url: "../../public/img/languages/java.svg",
        name: "Java"
    },
    {
        url: "../../public/img/languages/php.svg",
        name: "PHP"
    }
];
const databasesImages = [
    {
        url: "../../public/img/languages/mysql.svg",
        name: "MySQL"
    },
    {
        url: "../../public/img/languages/sql-server.svg",
        name: "SQL Server"
    },

];

const frameworksImages = [
    {
        url: "../../public/img/languages/spring_boot.png",
        name: "Spring Boot"
    },
    {
        url: "../../public/img/languages/spring.svg",
        name: "Spring"
    },
    {
        url: "../../public/img/languages/hibernate.svg",
        name: "Hibernate"
    },
    {
        url: "../../public/img/languages/jpa.png",
        name: "JPA"
    },
    {
        url: "../../public/img/languages/spring_security.png",
        name: "Spring Security"
    },
    {
        url: "../../public/img/languages/thymeleaf.svg",
        name: "Thymeleaf"
    },
    {
        url: "../../public/img/languages/angular.svg",
        name: "Angular"
    },
    {
        url: "../../public/img/languages/bootstrap.svg",
        name: "Bootstrap"
    },
    {
        url: "../../public/img/languages/astro.svg",
        name: "Astro"
    },
    {
        url: "../../public/img/languages/tailwind.svg",
        name: "Tailwind"
    },
    {
        url:"../../public/img/languages/net.svg",
        name :".NET"
    }
];
const toolsImages = [
    {
        url: "../../public/img/tools/git.svg",
        name: "Git"
    },
    {
        url: "../../public/img/tools/eclipse-icon.svg",
        name: "Eclipse"
    },
    {
        url: "../../public/img/tools/intellij-idea.svg",
        name: "IntelliJ IDEA"
    },
    {
        url: "../../public/img/tools/visual-studio-code.svg",
        name: "VS Code"
    },
    {
        url: "../../public/img/tools/postman-icon.svg",
        name: "Postman"
    },
    {
        url: "../../public/img/tools/azure.svg",
        name: "Azure Cloud"
    }
];

---
<div class="section w-full">
    <div class="w-[80%] max-w-[900px] mx-auto">
        <h1 class="w-[80%] max-w-[900px] mx-auto text-4xl mb-6 text-center lg:text-5xl  text-shadow text-blue-custom [text-shadow:_0_0px_10px_rgb(93_247_255/_100%)]  font-bold">&lt;Tecnologias/&gt;</h1>  
        <!-- Modo mobile -->
        <div class="md:hidden">
            <Carrousel title={"Lenguajes"} array={programmingLanguagesImages}/>
            <LineCarrousel/>
    
            <Carrousel title={"Bases de Datos"} array={databasesImages}/>
            <LineCarrousel/>
    
            <Carrousel title={"Frameworks"} array={frameworksImages}/>
            <LineCarrousel/>
        
            <Carrousel title={"Herramientas"} array={toolsImages}/>
        </div>     
        <div class="mx-auto md:flex justify-center flex-wrap gap-6 hidden">
            {programmingLanguagesImages.map(x=>
                    <div class="w-24 h-24 bg-gray-950/50 shadow-custom-black-blue-difumined-min flex flex-col justify-center items-center gap-2 p-6 hover:scale-110  transition-all">
                        <img src={x.url} alt="image" class="w-10 h-10">
                        <p class="text-blue-custom text-[14px]">{x.name}</p>
                    </div>
            )}
            {databasesImages.map(x=>
                    <div class="w-24 h-24 bg-gray-950/50 shadow-custom-black-blue-difumined-min flex flex-col justify-center items-center gap-2 p-6 hover:scale-110  transition-all">
                        <img src={x.url} alt="image" class="w-10 h-10">
                        <p class="text-blue-custom text-[14px]">{x.name}</p>
                    </div>
            )}
            {frameworksImages.map(x=>
                    <div class="w-24 h-24 bg-gray-950/50 shadow-custom-black-blue-difumined-min flex flex-col justify-center items-center gap-2 p-0 hover:scale-110  transition-all">
                        <img src={x.url} alt="image" class="w-10 h-10">
                        <p class="text-blue-custom text-center text-[14px]">{x.name}</p>
                    </div>
            )}
            {toolsImages.map(x=>
                    <div class="w-24 h-24 bg-gray-950/50 shadow-custom-black-blue-difumined-min flex flex-col justify-center items-center gap-2 p-0 hover:scale-110  transition-all">
                        <img src={x.url} alt="image" class="w-10 h-10">
                        <p class="text-blue-custom text-[14px]">{x.name}</p>
                    </div>
            )}
        </div>
    </div>
</div>

<script src="../../public/js/swiper.js"></script>